<h2>Songs</h2>

<%= link_to 'Create Song', new_song_path, method: :get %> <br><br><br>

<% @songs.each do |song| %>
    <%= song.title %> <br>
    <%= song.release_year %> <br>
    <%= song.genre %> <br>
    <%= song.artist_name %> <br>
    <%= link_to 'View', song_path(song), method: :get %> <br>
    <%= link_to 'Edit', edit_song_path(song), method: :get %> <br>
    <%= link_to 'Delete', song_path(song), method: :delete %> <br><br><br>
<% end %>